.feed {
  height: calc(100vh - 64px);
  padding: 12px 0;
  margin: 0;
  background-color: rgb(231, 235, 240);

  display: grid;
  grid-template-columns: 128px 1fr 128px;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "left__button post__card right__button";
}