.container {
    padding: 12px 0;
    margin: 0;
    background-color: rgb(231, 235, 240);

    display: grid;
    grid-template-columns: 128px 1.4fr 0.6fr 128px;
    gap: 0px 20px;
    grid-template-areas:
        ". profile__posts profile__information ."
}

.profile__name {
    grid-area: profile__name;
}

.profile__posts {
    grid-area: profile__posts;
}

.profile__information {
    height: 512px;
    grid-area: profile__information;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-auto-columns: auto;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-auto-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "profile__image profile__modify__button profile__modify__button"
        "profile__name profile__name profile__pm__button"
        "profile__login . ."
        "profile__dob profile__dob ."
        "profile__email profile__email profile__email"
        "profile__followers . profile__following"
        "profile__new_post__button profile__new_post__button profile__new_post__button";
}

.profile__image {
    grid-area: profile__image;
}

.profile__image img {
    width: 80px;
    height: 80px;
}

.profile__login {
    grid-area: profile__login;
}

.profile__modify__button {
    grid-area: profile__modify__button;
    margin-left: auto;
    margin-right: 0;
}

.profile__name {
    grid-area: profile__name;
}

.profile__name h2{
    margin: auto;
}

.profile__followers {
    grid-area: profile__followers;
}

.profile__dob {
    grid-area: profile__dob;
}

.profile__email {
    grid-area: profile__email;
}

.profile__following {
    grid-area: profile__following;
}

.profile__new_post__button {
    grid-area: profile__new_post__button;
    margin-top: auto;
    margin-bottom: auto;
}

.profile__pm__button {
    grid-area: profile__pm__button;
    height: 48px;
    margin-left: auto;
    margin-right: 0;
}